#altContent {
    width: 1024px;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#fLeft,#fRight,#footer,#bridge-global-toolbar {
    display: none;
}

#wLeft {
    height: 576px;
    width: 1024px;
}
